<%= image_tag @listing.listingimage.url(:thumb) %>
<h1><%= @listing.name %></h1><br>
<h2><%= @listing.description %></h2>

<%= @listing.address.line1 %><br>
<%= @listing.address.line2 %><br>
<%= @listing.address.city %><br>
<%= @listing.address.state %><br>
<%= @listing.address.zipCode %><br>
$<%= @listing.price %> per booking <br>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_user_listing_path(current_user, @listing) %>
  <%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" } %>
<% else %>
  <%= render 'bookings/form'%>
<% end %>
